{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
    
    <title>Document</title>
</head>

<body>
    {% block navbar %}
    <section class="nav-section">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand text-white" href="/">GALLERY</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Location
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'location' 'Kenya' %}">Kenya</a>
                            <a class="dropdown-item" href="{% url 'location' 'Africa' %}">Africa</a>
                            <a class="dropdown-item" href="{% url 'location' 'Australia' %}">Australia</a>
                            <a class="dropdown-item" href="{% url 'location' 'Asia' %}">Asia</a>
                            <a class="dropdown-item" href="{% url 'location' 'Europe' %}">Europe</a>
                            <a class="dropdown-item" href="{% url 'location' 'South America' %}">South America</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </section>
    {% endblock %}

    <section class="category-section">
        <div class="container">
            <div class="scrollmenu category">
                <a href="{% url 'category' 'Technology' %}">Technology</a>
                <a href="{% url 'category' 'People' %}">People</a>
                <a href="{% url 'category' 'Nature' %}">Nature</a>
                <a href="{% url 'category' 'Blog' %}">Blog</a>
                <a href="{% url 'category' 'Coding' %}">Coding</a>
                <a href="{% url 'category' 'Life' %}">Life</a>
                <a href="{% url 'category' 'Education' %}">Education</a>
                <a href="{% url 'category' 'Quarantine' %}">Quarantine</a>
                <a href="{% url 'category' 'Student' %}">Student</a>
                <a href="{% url 'category' 'Friends' %}">Friends</a>
                <a href="{% url 'category' 'Python' %}">Python</a>
                <a href="{% url 'category' 'Django' %}">Django</a>
                <a href="{% url 'category' 'Food' %}">Food</a>
            </div>
        </div>
    </section>

    {% block content %}

    {% if images %}

    </section>
    <section class="image-section">
        <div class="container">
            {% for image in images %}
            <img class="img-fluid img-thumbnail img-responsive" src="{{ image.image.url }}" alt="" data-target="#imgmodal-{{ image.id }}"
                data-toggle="modal">
            {% endfor %}
        </div>
    </section>


    <!-- modal -->
    {% for image in images %}
        
    <div class="container">
        <div class="row">
            <div class="col-md-6">


                <div class="modal" id="imgmodal-{{ image.id }}" tabindex="-1">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4>Image</h4>
                                
                                <button class="btn btn-primary" onclick="copy()" >copy</button>

                            </div>
                            <div class="modal-body">

                                <img src="{{image.image.url }}" alt="image">
                                

                                <p><b>Name</b>: {{ image.name}}</p> 
                                <p><b>Location</b>: {{ image.location}}</p>
                                <p><b>Category</b>: {{ image.category}}</p>
                                <p><b>Description</b>: {{ image.description}}</p> 
                                <input type="text" name="link" id="link" value ="https://ham-gallery.herokuapp.com/{{ image.image.url }}">
                            </div>
                          


                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
   
    {% endfor %}
    {% else %}
    <div class="container">
        <div class="text-center">
            <div class="alert alert-info" role="alert">
                Images for this category/search term will be added soon.You can view other categories
              </div>
        </div>
     
    </div>

    {% endif %}

    {% endblock %}
    

    {% block scripts %}
    <script>
        function copy(){
            var copytext = document.getElementById("link")
            copytext.select()
            document.execCommand("copy")

        }
    </script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
  
    {% endblock %}
</body>

</html>