{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% block content %}
    
    <section class="cat-section">
        <div class="text-center">
            <h2>{{ category }}</h2>
            <div class="description">
                <p>{{ category.description }}.</p>
            </div>
        </div>
    </section>

    {{block.super}}

    {% endblock %}

</body>

</html>