{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
    
    <title>Document</title>
</head>

<body>
    {% block navbar %}
    <section class="nav-section">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand text-white" href="#">GALLERY</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Location
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Kenya</a>
                            <a class="dropdown-item" href="#">Africa</a>
                            <a class="dropdown-item" href="#">Australia</a>
                            <a class="dropdown-item" href="#">Asia</a>
                            <a class="dropdown-item" href="#">Europe</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </section>
    {% endblock %}

    <section class="category-section">
        <div class="container">
            <div class="scrollmenu category">
                <a href="#news">Technology</a>
                <a href="#contact">People</a>
                <a href="#about">Nature</a>
                <a href="#blog">Blog</a>
                <a href="#tools">Coding</a>
                <a href="#base">Life</a>
                <a href="#custom">Education</a>
                <a href="#more">Quarantine</a>
                <a href="#logo">Student</a>
                <a href="#friends">Friends</a>
                <a href="#partners">Python</a>
                <a href="#people">Django</a>
                <a href="#work">Food</a>
            </div>
        </div>
    </section>

    {% block content %}

    </section>
    <section class="image-section">
        <div class="container">
            {% for image in images %}
            <img class="img-fluid img-thumbnail img-responsive" src="{{ image.image.url }}" alt="" data-target="#imgmodal-{{ image.id }}"
                data-toggle="modal">
            {% endfor %}
        </div>
    </section>


    <!-- modal -->
    {% for image in images %}
        
    <div class="container">
        <div class="row">
            <div class="col-md-6">


                <div class="modal" id="imgmodal-{{ image.id }}" tabindex="-1">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4>Image</h4>
                                <!-- <button class="close" data-dismis="modal" onclick="hideModal()">&times;</button> -->

                            </div>
                            <div class="modal-body">
                                <img src="{{ image.image.url }}" alt="image">
                            </div>


                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
   
    {% endfor %}

    {% endblock %}
    

    {% block scripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
  
    {% endblock %}
</body>

</html>